@import "../styles/variables.scss";

.comingSoon {
  font-size: $tMobile;
  text-align: center;
}

.title {
  font-size: $tMobile/2;
  text-align: center;
}

.container {
  padding-bottom: $p2;
}

.daySection {
  .header {
    text-align: center;
    font-size: $subtMobile;
    padding-bottom: $p1;
  }

  .row {
    padding-left: $p2;
    padding-right: $p2;
    padding-top: $p1/2;
    padding-bottom: $p1/2;
    font-size: $p;
  }
}
