@import "../styles/variables.scss";

.container {
  padding-top: 13vh;
  padding-bottom: 13vh;
  position: relative;

  #dark_blue_ellipse {
    position: absolute;
    left: 10vw;
    top: 30vh;
    z-index: 1;
  }
  #faint_blue_ellipse {
    position: absolute;
    right: 15vw;
    bottom: -6vh;
    z-index: 1;
  }
  #pink_streak {
    position: absolute;
    right: 0px;
    z-index: 1;
  }
  #red_streak {
    position: absolute;
    right: 0px;
    top: 75vh;
    z-index: 1;
  }
}

.comingSoon {
  font-size: $tMobile;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 20vh;
  z-index: 3;
}

.comingSoonTitle {
  font-size: $h1;
  font-family: "Titillium Web";
  color: whitesmoke;
  padding-top: $p1;
  padding-bottom: $p1;
  z-index: 3;
}

.title {
  color: whitesmoke;
  font-size: $header;
  font-family: "Retronoid";
  z-index: 2;
}

.progressBar {
  min-width: 60vw;
  max-width: 70vw;
  text-align: center;
  box-shadow: 0px 4px 10px 4px rgba(255, 255, 255, 0.2), 0px -4px 10px 3px rgba(255, 255, 255, 0.2),
    1px 4px 10px rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  z-index: 3;
}

.daySection {
  .header {
    text-align: center;
    font-size: $subtMobile;
    padding-bottom: $p1;
  }

  .row {
    padding-left: $p2;
    padding-right: $p2;
    padding-top: $p1/2;
    padding-bottom: $p1/2;
    font-size: $p;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: $headerMobile;
  }
  .comingSoonTitle {
    font-size: $subHeaderMobile;
  }
}
