@import "../styles/variables.scss";

.comingSoon {
  font-size: $tMobile;
  text-align: center;
}

.comingSoonTitle {
  font-size: $subt;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
  padding-top: $p1;
  padding-bottom: $p1;
}

.title {
  color: whitesmoke;
  font-size: $header;
  font-family: "Retronoid";
  z-index: 2;
}

.progressBar {
  left: 15.2%;
  right: 15.6%;
  width: 70%;
  text-align: center;
}

.container {
  padding-bottom: $p2;
}

.daySection {
  .header {
    text-align: center;
    font-size: $subtMobile;
    padding-bottom: $p1;
  }

  .row {
    padding-left: $p2;
    padding-right: $p2;
    padding-top: $p1/2;
    padding-bottom: $p1/2;
    font-size: $p;
  }
}
