@import "../styles/variables.scss";

.container {
    background-color: blueviolet;
    color:whitesmoke;
    padding-bottom: $p3;
    padding-top: $p3/2;
}

.title {
    font-size: $subt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: $p1;
    padding-bottom: $p1;
}

@media (max-width: 850px) {
    .title {
        width: $faq;
    }
}

.qa_shape {
    font-size: $p;
    font-family: 'Courier New', Courier, monospace;

    .question {    
            border: solid black 1px;
            background-color: teal;
            z-index: 2;
        }

    .answer {
        border: solid black 1px;
        background-color: pink;
        color: black;
        z-index: 1;
    }

    .both {
        /* why did I put this here? cause why not. */
        -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

        width: $faq;
        border-radius: 10px;
        text-align: left;
        padding-left: $p1;
        padding-top: $p1/3;
        padding-bottom: $p1/3;
        padding-right: $p1;
        opacity: 90%;
    }
}