@import "../styles/variables.scss";

$faqWidth: 70vw;

.container {
  color: whitesmoke;
  padding-bottom: $p3/2;
  padding-top: $p3/1.2;
  position: relative;

  #large_blue_ellipse {
    position: absolute;
    z-index: 1;
  }
  #giant_faint_pink_ellipse {
    position: absolute;
    right: 0px;
    top: 600px;
    z-index: 1;
  }
  #giant_red_streak {
    position: absolute;
    right: 0px;
    top: 900px;
    z-index: 0;
  }
}

.arrow {
  position: absolute;
  right: 0rem;
  width: 30px;
}

.link {
  color: plum;
  font-weight: bold;
}

.faq_box {
  padding-bottom: $p2;
  #game_console {
    z-index: 3;
  }

  .title {
    font-size: $header;
    font-family: "Retronoid";
    z-index: 3;
    font-weight: bold;
  }
}

#space {
  height: 20px;
}

.qa_shape {
  position: relative;
  z-index: 3;
  font-family: "Titillium Web";
  text-align: left;
  width: $faqWidth;

  .question {
    font-size: 18px;
    text-align: left;
    padding: 0.5rem 0 0.5rem 0;
  }
  .clickable {
    cursor: pointer;
  }

  .answer {
    font-size: 18px/1.2;
    color: whitesmoke;
    z-index: 3;
    padding: 0.5rem 0 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .faq_box {
    .title {
      font-size: $headerMobile;
    }
  }
  .qa_shape {
    .question {
      font-size: $pv2;
    }
    .answer {
      font-size: $pv2/1.2;
    }
    .both {
      padding-left: 2vw;
    }
  }
}
