@import "../styles/variables.scss";

.container {
  .mainBox {
    z-index: 10;
    position: relative;
    width: 45vw;
    top: 15vh;
    background: linear-gradient(152.13deg, #8e3480 5.27%, #1d2038 96.54%);
    box-shadow: inset -2px -2px 10px #07081d, inset 2px 2px 10px 1px radgradba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding-bottom: 12rem;
    #tetris_blocks {
      max-height: 10vw;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }
  :root {
    font-size: 100%;
  }
  .title {
    z-index: 2;
    font-size: 5rem;
    text-align: center;
    padding-top: 2rem;
    color: white;
    font-family: "Retronoid";
  }

  .subtitle {
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    font-family: "Titillium Web";
    font-weight: bold;
    padding: 2rem 2rem 0 2rem;
  }

  .bodyText {
    z-index: 2;
    padding: 1.5rem 3rem 0 3rem;
    font-family: "Titillium Web";
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
  }

  .radgrad1 {
    position: absolute;
    left: 6vw;
    top: 130vh;
    width: 16vw;
    height: auto;
    animation: starryMotion 10s ease-in-out infinite;
  }
  .radgrad2 {
    position: absolute;
    left: 10vw;
    top: 180vh;
    width: 20vw;
    height: auto;
    animation: starryMotion2 10s ease-in-out infinite;
  }
  .radgrad3 {
    position: absolute;
    left: 80vw;
    top: 190vh;
    width: 16vw;
    height: auto;
    animation: starryMotion2 10s ease-in-out infinite;
  }
  .radgrad4 {
    position: absolute;
    left: 70vw;
    top: 170vh;
    width: 6vw;
    height: auto;
    animation: starryMotion 10s ease-in-out infinite;
  }
  .orange_arc {
    position: absolute;
    height: auto;
    top: 1000px;
    max-width: 70vw;
    z-index: 30;
  }
}
@keyframes starryMotion{
  0% {
    transform: translateX(0) translateY(0);
  }
  25%{
    transform: translateX(10%);
  }
  50%{
    transform: translateY(10%);
  }
  75%{
    transform: translateX(10%) translateY(10%);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}
@keyframes starryMotion2{
  0% {
    transform: translateX(0) translateY(0);
  }
  25%{
    transform: translateY(10%);
  }
  50%{
    transform: translateX(10%);
  }
  75%{
    transform: translateX(10%) translateY(10%);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}

@media (max-width: 1200px) {
  .container {
    padding-top: 20vh;
    .mainBox {
      top: 15vh;
    }
    .bodyText {
      top: 8rem;
      font-weight: 400;
    }
    .title {
      font-size: 5rem;
      text-align: center;
      top: 0rem;
    }
    .tetris {
      visibility: hidden;
    }
  }

  @media (max-width: 700px) {
    .container {
      .mainBox {
        width: 65vw;
        top: 5vh;
      }
      .bodyText {
        top: 25%;
        font-weight: 400;
        font-size: 2.9vw;
      }
      .title {
        font-size: 10vw;
        top: 2vh;
      }
      .subtitle {
        font-size: $subHeaderMobile;
      }
    }
  }
}
