@import "../styles/variables.scss";

.mainText {
  font-size: $subt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: violet;
  padding-top: $p2;
  padding-bottom: $p2;
}

.bodyText {
  font-size: $h3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: $p1;
  padding-right: $p1;
}
