@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.container {
  height: 100vh;
  align-items: center;

  .mainBox {
    z-index: 10;
    position: relative;
    width: 30vw;
    height: 80vh;
    top: 15vh;
    right: 25vw;
    background: linear-gradient(152.13deg, #8e3480 5.27%, #1d2038 96.54%);
    box-shadow: inset -2px -2px 10px #07081d, inset 2px 2px 10px 1px radgradba(255, 255, 255, 0.2);
    border-radius: 25px;
    .tetris {
      position: absolute;
      left: 18vw;
      bottom: 2rem;
      width: 8vw;
      height: auto;
    }
  }
  :root{
    font-size: 100% ;
  }
  .title {
    z-index: 2;
    position: relative;
    font-size: 5rem;
    text-align: center;
    top: 1rem;
    color: white;
    font-family: "Retronoid";
  }

  .bodyText {
    z-index: 2;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 27vh;
    font-family: "Titillium Web";
    font-weight: 400;
    font-size: 1.1vw;
    text-align: center;
    color: #ffffff;
  }
  .orange_arc{
    position: relative;
    height:auto;
    max-width: 50vw;
    top: 40px;
    left: 25vw;
    z-index: 30;
  }
  .radgrad1 {
    position: absolute;
    left: 6vw;
    top: 130vh;
    width: 16vw;
    height: auto;
  }
  .radgrad2 {
    position: absolute;
    left: 10vw;
    top: 180vh;
    width: 20vw;
    height: auto;
  }
  .radgrad3 {
    position: absolute;
    left: 80vw;
    top: 190vh;
    width: 16vw;
    height: auto;
  }
  .radgrad4 {
    position: absolute;
    left: 70vw;
    top: 170vh;
    width: 6vw;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .container {
    padding-top: 20vh;
    .mainBox {
      position: relative;
      width: 60vw;
      height: 80vh;
      top: 15vh;
    }
    .bodyText {
      top: 8rem;
      font-weight: 400;
      font-size: 2vw;
    }
    .title {
      font-size: 5rem;
      text-align: center;
      top: 0rem;
    }
    .tetris {
      visibility: hidden;
    }
}

@media (max-width: 700px) {
  .container {
      .mainBox {
        position: relative;
        width: 70vw;
        height: 65vh;
        top: 5vh;
      }
      .bodyText {
        left: 15%;
        right: 15%;
        top: 25%;
        font-weight: 400;
        font-size: 2.9vw;
      }
      .title {
        font-size: 10vw;
        top: 2vh; 
      }
      .tetris {
        visibility: hidden;
      }
    }
  }
}
