@import "../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.container {
    position:fixed;
    right: 25vw;
    top: 6vh;
    z-index: 100;
    width: 60vw;
    .component {
        font-size:1.5vw;
        font-family: 'Titilium Web', sans-serif;
        font-weight: 400;
        color: green; //temporary change
    }
}
.navbg {
    z-index: 100;
    width: 90vw;
    position:fixed;
    left: 5vw;
    top: 2.5vh;
    color: #E277BE;
    background: #E277BE;
    border-radius: 32px;
}
.progressBar{
    z-index: 100;
    width: 90vw;
    position:fixed;
    left: 5vw;
    top: 2.5vh;
    border-radius: 32px;
    color: #00DDFF;
    background-color:#00DDFF;
}
.menu, .menuButton, .menuItem, .menuList, #menu{
    visibility: hidden; 
}
.menu{
    position: fixed;
}
@media screen and (max-width: 750px) {
    .navbg, .progressBar, .component, .container {
        visibility: hidden;
    }
    .menu, .menuButton, .menuItem, .menuList, #menu{
        transition: 0.5s;
        visibility: visible; 
    }
    .menu{
        z-index: 1000;
        right: 0vw;
        position: fixed;
        top:0vh;
    }
    .menuButton{
        right: 0vw;
    }
    .menuList{
        font-size:1.5vw;
        margin:10px;
        font-family: 'Titilium Web', sans-serif;
        font-weight: 400;
        color: green;
    }
    .menuItem{
        background: yellow;
        color: pink;
    }
    
}


