@import "../styles/variables.scss";

.mainText {
    font-size: $subt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding-top: $p2;
    padding-bottom: $p2;
    padding-left: $p3;
    padding-right: $p3;
}

.bodyText {
    font-size: $h3 ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
