@import "../styles/variables.scss";

.container {
  padding-top: $p2/2;
  padding-bottom: $p2;
  padding-right: $p2;
  padding-left: $p2;

  font-family: "Retronoid";
  color: whitesmoke;

  .title {
    font-size: $header;
  }
  .sub_header {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: $header/1.7;
  }
}

@media (max-width: 1200px) {
  .container {
    .title {
      font-size: $header/1.5;
    }
    .sub_header {
      font-size: $header/3;
    }
  }
}

@media (max-width: 1000px) {
  #left_button {
    display: none;
  }

  #right_button {
    display: none;
  }
}

/* add some intermediaries */
@media (max-width: 750px) {
  .container {
    .title {
      font-size: $headerMobile;
    }
    .sub_header {
      font-size: $headerMobile/1.5;
    }
  }
}

.border {
  border: 1px red solid;
}
